@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F5E9; /* アイボリー */
  --foreground: #2E5D4B; /* ディープグリーン */
  --primary: #2E5D4B;
  --accent-orange: #F2994A;
  --accent-blue: #56CCF2;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 80px; /* メニューの分だけ下を空ける */
}
